/* Footer */
.footer {
  background-color: #f7f7f7;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  padding: 100px 0;
  align-items: center;
}

.footer__column {
  flex: 0 1 33.333%;
}

.footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 18px;
}

.footer__address p:first-child {
  font-weight: 700;
}

.footer__address p:nth-child(2), .footer__address p:nth-child(3) {
  font-style: italic;
}

@media (max-width: 1100px) {
  .footer__row {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .footer__row {
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
  }
  .footer__address {
    padding: 0;
  }
  .footer__social {
    margin: 20px 0;
  }
}

/* Social */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
}

.social__link {
  margin: 0 7.5px;
}

/* Dev */
.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  align-items: center;
}

.dev__text {
  padding: 0 9px 0 0;
  color: #848789;
  font-size: 14px;
  font-style: italic;
}
